<!DOCTYPE html>
<html lang="en">
<head>
	<title><%=title%></title>
	<meta charset="UTF-8">
	<meta name="description" content="Our Lady of Good Counsel Template">
	<meta name="keywords" content="event, libChurch, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/logo.png" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/themify-icons.css"/>
	<link rel="stylesheet" href="css/style.css"/>


	<!-- IE 9 -->
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- header top section -->
	<div class="top-nav-section hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-md-3 col-lg-3">
					<div class="social">
						<a href="https://www.facebook.com/pages/Our-Lady-Of-Good-Counsel/106244959413918"><i class="ti-facebook"></i></a>
						<a href="https://goo.gl/maps/iGox2djxTRG2"><i class="ti-location-pin"></i></a>
					</div>
				</div>
				<div class="col-sm-6 col-md-7 col-lg-6">
					<div class="counter-top">
						<!-- <h5>Upcoming Event:</h5>
						<div class="counter">
							<div class="counter-item"><h4>10</h4>Days</div>
							<div class="counter-item"><h4>08</h4>hours</div>
							<div class="counter-item"><h4>40</h4>Mins</div>
							<div class="counter-item"><h4>56</h4>secs</div>
						</div> -->
					</div>
				</div>
				<div class="col-sm-3 col-md-2 col-lg-3">
				</div>
			</div>
		</div>
	</div>
	<!-- header top section end-->


	<!-- Header section  -->
	<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a href="/" class="site-logo"><img src="img/logo.png" alt=""></a>
			<!-- nav menu -->
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<nav class="main-menu">
				<ul>
					<!-- <li><a href="/">Home</a></li> -->
					<li><a href="/">Home</a></li>
					<li class="active"><a href="/about">About Us</a></li>
					<li><a href="/sacramental-life">Sacramental Life</a></li>

					<li><a href="/weekly-bulletin">Weekly Bulletin</a></li>

					<li><a href="/contact">Contact</a></li>
					<li><a href="/gallery">Gallery</a></li>
					<li><a href="/forms">Forms</a></li>
					<li><a href="/education">Religious Education</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="img/bg.jpg">
		<div class="page-info-content">
			<div class="pi-inner">
				<div class="container">
					<h2>About Us</h2>
					<div class="site-breadcrumb">
						<a href="#">Home</a> <i class="fa fa-angle-right"></i>
						<span>About Us</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page info section end -->


	<!-- About section -->
	<section class="about-section spad">
		<div class="container">
			<div class="row">
				<div class="col-md-6 about-content">
					<h2 class="about-header">Our Lady of Good Counsel</h2>
					<p class="about-text">Our parish was established on January 11, 1902 with mostly German<br> and Irish Catholics.</p>
					<p class="about-text">Years later, with a change in ethnic makeup, the parish provides<br> pastoral care in Spanish while continuing to serve the English<br> speaking members.</p>
					<p class="about-text">The parish presently has seven buildings to serve the needs of our <br> North Newark Community: Church, rectory, a Retreat House, three <br> school buildings and a Parish Center that consist of cafeteria and gyms.</p>
					<p class="about-text">Over our 100 years of history, there have been many changes<br> in society, neighboorhood and church. The parish has remained<br> faithful and constant in Gospel proclamation and celebration <br>by adaptiation and service.</p>
				</div>
				<div class="col-md-6 about-img">
					<img src="img/mv/OLGC-church-building.jpg" alt="">
				</div>
			</div>
		</div>
	</section>

	<section class="about-section spad2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 about-content">
					<h2 class="about-header">Immaculate Conception</h2>
          <p class="about-text">Immaculate Conception Church was established on December 4. <br> 1925 with mostly an Italian congregation of approximately <br> 100 members.</p>
          <p class="about-text">The parish presently consists of four buildings: church, <br> parish center, old rectory house, and one annex building that <br> is being leased by a charter school.</p>
          <p class="about-text">Over 90 years of history and mixed ethnicity, this parish has <br> remained serving both English and Spanish speaking members <br> of the community who are faithful to God and in need of <br> spiritual guidance.</p>
        </div>
      	<div class="col-md-6 about-img">
					<img src="img/mv/IC-church-building.jpg" alt="">
      	</div>
			</div>
		</div>
	</section>
	<!-- About section end -->
<!-- http://localhost:5000/img/mv/IC-church-building.jpg -->
<!-- img/mv/immaculate_conception.jpg -->
	<!-- Services section -->
	<!-- <section class="services-section spad">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="service-box">
						<h4><i class="fa fa-fire"></i>Our Values</h4>
						<p>Excepteur sint occaecat cupidatat non, <br> sunt in culpa qui officia dese mollit anim id est laborum. Sed ut perspiciatis unde omnis iste.</p>
						<a href="#" class="s-readmore">Readmore <i class="fa fa-angle-double-right"></i></a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="service-box">
						<h4><i class="fa fa-eye"></i>Our Vision</h4>
						<p>Excepteur sint occaecat cupidatat non, <br> sunt in culpa qui officia dese mollit anim id est laborum. Sed ut perspiciatis unde omnis iste.</p>
						<a href="#" class="s-readmore">Readmore <i class="fa fa-angle-double-right"></i></a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="service-box">
						<h4><i class="fa fa-heart"></i>Our Mission</h4>
						<p>Excepteur sint occaecat cupidatat non, <br> sunt in culpa qui officia dese mollit anim id est laborum. Sed ut perspiciatis unde omnis iste.</p>
						<a href="#" class="s-readmore">Readmore <i class="fa fa-angle-double-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- Services section end -->


	<!-- Event section -->
	<section class="event-section">
		<div class="container">

		</div>
	</section>
	<!-- Event section end -->


	<!-- Pastors section -->
	<section class="pastors-section spad">
		<div class="container">
			<div class="section-title">
				<span>Experience God's Presence</span>
				<h2>Pastoral Team</h2>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="pastor">
						<h3>Rev. Jorge Emilio Peña Acosta</h3>
						<p>Pastor</p>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="pastor">
						<h3>Rev. Marcos A. Sequeira Ruiz</h3>
						<p>Vicar</p>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="pastor">
						<h3>Mrs.Mariana S. Villegas</h3>
						<p>Director of Religious Education</p>
					</div>
				</div>
			</div>
			<p></p>
			<p></p>
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="pastor">
						<h3>Tamam Pereira</h3>
						<p>English Choir Director (OLGC and IC)</p>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="pastor">
						<h3>Nilsa Hernandez</h3>
						<p>Spanish Choir Director (OLGC)</p>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="pastor">
						<h3>Maria del Pilar Carrillo</h3>
						<p>Spanish Choir Director (IC)</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Pastors section end -->

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 copyright">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</div>
				<div class="col-sm-6">
					<div class="social">
						<a href="https://www.facebook.com/pages/Our-Lady-Of-Good-Counsel/106244959413918"><i class="ti-facebook"></i></a>
						<a href="https://goo.gl/maps/iGox2djxTRG2"><i class="ti-location-pin"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/jquery.countdown.js"></script>
	<script src="js/main.js"></script>

</body>
</html>
