<!DOCTYPE html>
<html lang="en">
<head>
	<title><%=title%></title>
	<meta charset="UTF-8">
	<meta name="description" content="LibChurch Event Template">
	<meta name="keywords" content="event, libChurch, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/themify-icons.css"/>
	<link rel="stylesheet" href="css/style.css"/>

	<!-- Internet explorer -->
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- header top section -->
	<div class="top-nav-section hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-md-3 col-lg-3">
					<div class="social">
						<a href="https://www.facebook.com/pages/Our-Lady-Of-Good-Counsel/106244959413918"><i class="ti-facebook"></i></a>
						<a href="https://goo.gl/maps/iGox2djxTRG2"><i class="ti-location-pin"></i></a>
					</div>
				</div>
				<div class="col-sm-6 col-md-7 col-lg-6">
				</div>
				<div class="col-sm-3 col-md-2 col-lg-3">
				</div>
			</div>
		</div>
	</div>
	<!-- header top section end-->


	<!-- Header section  -->
	<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a href="/" class="site-logo"><img src="img/logo.png" alt=""></a>
			<!-- nav menu -->
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<nav class="main-menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About Us</a></li>
					<!-- <li><a href="/sacramental-life">Sacramental Life</a></li> -->
					<li><a href="/weekly-bulletin">Weekly Bulletin</a></li>
					<!-- <li><a href="/events">Events</a></li> -->
					<!-- <li><a href="/blog">blog</a></li> -->
					<li><a href="/contact">Contact</a></li>
					<li><a href="/gallery">Gallery</a></li>
					<li><a href="/forms">Forms</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="img/bg.jpg">
		<div class="page-info-content">
			<div class="pi-inner">
				<div class="container">
					<h2>Admin Page</h2>
					<div class="site-breadcrumb">
						<a href="/">Home</a> <i class="fa fa-angle-right"></i>
						<span>Admin</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page info section end -->


	<!-- Footer top section -->
	<section class="footer-top-contact-section spad">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="section-title title-left">
						<h2>Add Event</h2>
					</div>
					<form class="contact-form" method="POST" action="/admin">
						<div class="row">
							<div class="col-sm-6">
								 Event Date
								<input type="date" name="date" required placeholder="Date">
							</div>
							<div class="col-sm-6">
								Event Title
								<input type="text" name="title" required placeholder="Event title">
							</div>
							<div class="col-sm-6">
								Event start time
								<input type="time" name="startTime" required placeholder="Start time">
							</div>
							<div class="col-sm-6">
								Event end time
								<input type="time" name="endTime" required placeholder="End time">
							</div>
							<div class="col-sm-6">
								Event organizer
								<input type="text" name="organizer" required placeholder="Event organizer">
							</div>
							<div class="col-sm-6">
								Event location
								<input type="text" name="location" required placeholder="Event location">
							</div>
							<div class="col-sm-6">
								Password
								<input type="password" name="password" required placeholder="Password">
							</div>
							<div class="col-sm-12">
								<textarea placeholder="Event description" name="description"></textarea>
								<button type="submit" class="site-btn">Add Event</button>
							</div>
						</div>
					</form>   
				</div>
				<div class="section-title title-left">
						<h2>Add Bulletin</h2>
					</div>
				<div class="col-md-6">
						<form ref='uploadForm' id='uploadForm' action='/upload' method='post' encType="multipart/form-data">
							<div class="row">
								<div class="col-sm-6">
									<input type="file" name="sampleFile" />
								</div>
								<div class="col-sm-6">
									Password
									<input type="password" name="password" required placeholder="Password">
								</div>
								<div class="col-sm-12">	
									<br>
									<input class="site-btn" type='submit' value='Add Bulletin' />
								</div>
							</div>
					  </form>  
				</div>
			</div>
		</div>
	</section>

	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/jquery.countdown.js"></script>
	<script src="js/main.js"></script>

</body>
</html>
