<!DOCTYPE html>
<html lang="en">
<head>
	<title><%=title%></title>
	<meta charset="UTF-8">
	<meta name="description" content="Our Lady of Good Counsel Template">
	<meta name="keywords" content="event, libChurch, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/logo.png" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/themify-icons.css"/>
	<link rel="stylesheet" href="css/style.css"/>


	<!-- IE 9 -->
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- header top section -->
	<div class="top-nav-section hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-md-3 col-lg-3">
					<div class="social">
						<a href="https://www.facebook.com/pages/Our-Lady-Of-Good-Counsel/106244959413918"><i class="ti-facebook"></i></a>
						<a href="https://goo.gl/maps/iGox2djxTRG2"><i class="ti-location-pin"></i></a>
					</div>
				</div>
				<div class="col-sm-6 col-md-7 col-lg-6">
					<div class="counter-top">
						<!-- <h5>Upcoming Event:</h5>
						<div class="counter">
							<div class="counter-item"><h4>10</h4>Days</div>
							<div class="counter-item"><h4>08</h4>hours</div>
							<div class="counter-item"><h4>40</h4>Mins</div>
							<div class="counter-item"><h4>56</h4>secs</div>
						</div> -->
					</div>
				</div>
				<div class="col-sm-3 col-md-2 col-lg-3">
				</div>
			</div>
		</div>
	</div>
	<!-- header top section end-->


	<!-- Header section  -->
	<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a href="/" class="site-logo"><img src="img/logo.png" alt=""></a>
			<!-- nav menu -->
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<nav class="main-menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About Us</a></li>
					<li><a href="/sacramental-life">Sacramental Life</a></li>
					<li><a href="/weekly-bulletin">Weekly Bulletin</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/gallery">Gallery</a></li>
					<li><a href="/forms">Forms</a></li>
					<li class="active"><a href="/education">Religious Education</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="img/bg.jpg">
		<div class="page-info-content">
			<div class="pi-inner">
				<div class="container">
					<h2>Religious Education</h2>
					<div class="site-breadcrumb">
						<a href="#">Home</a> <i class="fa fa-angle-right"></i>
						<span>Religious Education</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page info section end -->


	<!-- Religious education section -->
	<section class="about-section spad">
    <div class="container">
      <div class="row">
        <div class="col-md-6 about-content">
					<p class="about-text"><strong>Religious Education Program in English:</strong></p>
          <p class="about-text">Welcome to Our Lady of Good Counsel and Immaculate Conception’s Religious Education Program </p>
          <p class="about-text"><strong>Integral Religious Education</strong></p>
          <p class="about-text">Participants attend our Religious education, from ages 5 to 16 every year. Children practice Christian living in its 5 aspects: worship, community, discipleship, service and evangelization. </p>
					<p class="about-text"><strong>Goals</strong></p>
					<p class="about-text">Fostering the development of quality religious education for adults, adolescents, and children within the community.</p>
					<p class="about-text">Providing participants with an integral Religious Education for Christian living including worship, community life, formation, service, and evangelization from grades K-12 and preparation to receive Baptism, First Communion, and Confirmation</p>
					<p class="about-text"><strong>Registration</strong></p>
					<p class="about-text">Children can be registered for Our Lady of Good Counsel and Immaculate Conception Religious Education classes at the Religious Education Offices or at the rectory.</p>
					<p class="about-text">Copies of certificates for all Sacraments a child has received are required at the time of registration.</p>

        </div>
      	<div class="col-md-6 about-content">
					<p class="about-text"><strong>Religious Education Program in Spanish:</strong></p>
          <p class="about-text">Bienvenidos al Programa de Educación Religiosa de las Iglesias de Nuestra Señora del Buen Consejo e Immaculada Concepción </p>
          <p class="about-text"><strong>Educación Religiosa Integral </strong></p>
          <p class="about-text">Los niños asisten cada año a la Educación Religiosa, desde los 5 a los 16.  Los niños practican la vida cristiana en sus 5 aspectos: adoración, comunidad, formación, servicio y evangelización.</p>
					<p class="about-text"><strong>Metas</strong></p>
					<p class="about-text">Promover el desarrollo de educación religiosa para adultos, adolescentes y niños dentro de la comunidad.</p>
					<p class="about-text">Proveer una Educación Religiosa Integral para la vida cristiana que incluye la adoración, la formación, la comunidad, el servicio y la evangelización en los grados K-12 y la preparación para recibir el Bautismo, la Primera Comunión y la Confirmación</p>
					<p class="about-text"><strong>Registration</strong></p>
					<p class="about-text">Niños pueden inscribirse para nuestro programa de educación religiosa en las iglesias de Nuestra Señora del Buen Consejo e Inmaculada Concepción en las oficinas de educación religiosa o en la rectoría.</p>
					<p class="about-text">Copias de los certificados de los Sacramentos que el niño haya recibido es requerido al momento de la inscripción.</p>
      	</div>
			</div>
		</div>
	</section>

	<!-- Event section -->
	<section class="event-section">
		<div class="container">

		</div>
	</section>
	<!-- Event section end -->


	<!-- Pastors section -->
	<section class="pastors-section spad">
		<div class="container">
			<div class="section-title">
				<h2>Classes</h2>
				<span>Run from September to June</span>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-6">
					<div class="pastor">
						<h3>Our Lady Of Good Counsel Church</h3>
						<br>
						<p>Kindergarten to Grade 12</p>
						<p>Sundays: 9:45 to 11:15 AM</p>
					</div>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="pastor">
						<h3>Immaculate Conception Church</h3>
						<br>
						<p>Kindergarten to Grade 5</p>
						<p>Sundays: 11:00 AM to 12:15 PM</p>
					</div>
				</div>
			</div>
			<p></p>
			<p></p>
		</div>
	</section>
	<!-- Pastors section end -->

	<section class="services-section spad">
		<div class="container">
			<div class="row">
				<div class="service-box">
					<h4>Additional Questions <i class="fa fa-question"></i></h4>
					<p class="about-text">For additional information regarding our Religious Education Program, please contact our office by phone, in person or by email. <br>Para más información sobre nuestro Programa de Educación Religiosa, por favor póngase en contacto con nuestra oficina, en persona o por correo electrónico.</p>
					<p class="about-text"> <strong>Director of Religious Education/ Directora de Educación Religiosa </strong><br> Mrs. Mariana S. Villegas <br> 973-482-1275  Ext. 119 <br> Email:  mariana.villegas@gcicnewark.org </p>
				</div>
			</div>
		</div>
	</section>
	<!-- Services section end -->

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 copyright">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</div>
				<div class="col-sm-6">
					<div class="social">
						<a href="https://www.facebook.com/pages/Our-Lady-Of-Good-Counsel/106244959413918"><i class="ti-facebook"></i></a>
						<a href="https://goo.gl/maps/iGox2djxTRG2"><i class="ti-location-pin"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/jquery.countdown.js"></script>
	<script src="js/main.js"></script>

</body>
</html>
