<!DOCTYPE html>
<html lang="en">
<head>
	<title><%=title%></title>
	<meta charset="UTF-8">
	<meta name="description" content="Our Lady of Good Counsel Template">
	<meta name="keywords" content="event, libChurch, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/logo.png" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/themify-icons.css"/>
	<link rel="stylesheet" href="css/style.css"/>

	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- header top section -->
	<div class="top-nav-section hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-md-3 col-lg-3">
					<div class="social">
						<a href="https://www.facebook.com/pages/Our-Lady-Of-Good-Counsel/106244959413918"><i class="ti-facebook"></i></a>
						<a href="https://goo.gl/maps/iGox2djxTRG2"><i class="ti-location-pin"></i></a>
					</div>
				</div>
				<div class="col-sm-6 col-md-7 col-lg-6">
					<div class="counter-top">
					</div>
				</div>
				<div class="col-sm-3 col-md-2 col-lg-3">
				</div>
			</div>
		</div>
	</div>
	<!-- header top section end-->


	<!-- Header section  -->
	<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a href="/" class="site-logo"><img src="img/logo.png" alt=""></a>
			<!-- nav menu -->
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<nav class="main-menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About Us</a></li>
					<li class="active"><a href="/sacramental-life">Sacramental Life</a></li>
					<li><a href="/weekly-bulletin">Weekly Bulletin</a></li>
					<!-- <li><a href="/events">Events</a></li> -->
					<!-- <li><a href="/blog">blog</a></li> -->
					<li><a href="/contact">Contact</a></li>
					<li><a href="/gallery">Gallery</a></li>
					<li><a href="/forms">Forms</a></li>
					<li><a href="/education">Religious Education</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header section end -->



	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="img/bg.jpg">
		<div class="page-info-content">
			<div class="pi-inner">
				<div class="container">
					<h2>Sacramentals</h2>
					<div class="site-breadcrumb">
						<a href="#">Home</a> <i class="fa fa-angle-right"></i>
						<span>Sacramentals</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page info section end -->

	<br>
	<br>
	<div class="container">
	    <div class="row">
	        <div class="panel-group" id="accordion">
	            <div class="panel blog-item">
	                <div class="panel-heading">
	                    <h4 class="panel-title">
	                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">SACRAMENT OF BAPTISM</a>
	                    </h4>
	                </div>
	                <div id="collapseOne" class="panel-collapse collapse in">
	                    <div class="panel-body">
	                        <p><strong>Baptism of Infants </strong> (less than 8 years old): Baptisms are held twice a month, except during Lent.  Parents must register their child for baptism at least one month in advance.  A pre-baptism meeting with one of the parish priests must be attended prior to the celebration of the Sacrament. </p>
													<p><strong>Baptism of children 8+ </strong>: Preparation start in September with our Religious Education Program (see <a href="/education">Religious Education</a>). Children will be prepared to receive Baptism, I Communion, and Confirmation under Rite of Christian Initiation of Children (RCIC).</p>
													<p><strong>Baptism of Adults</strong>: Process starts at any time for preparation to receive Baptism, I Communion, and Confirmation under Rite of Christian Initiation of Adults (RCIA).</p>
													<p><strong>Godparents</strong>: Godparents must be fully initiated in the Catholic faith (were baptized, received First Communion and Confirmation), and living in accordance with the teachings of the Catholic Church.</p>
													<p>Godparents must also attend the pre-baptism instruction with the child's parents, and present a Certificate of Eligibility. (Call the rectory for dates on Pre-baptismal class)</p>
	                    </div>
	                </div>
	            </div>
	            <div class="panel blog-item">
	                <div class="panel-heading">
	                    <h4 class="panel-title">
	                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">SACRAMENT OF HOLY EUCHARIST</a>
	                    </h4>
	                </div>
	                <div id="collapseTwo" class="panel-collapse collapse">
	                    <div class="panel-body">
	                        <p>Children: enroll and attend classes in the parish Religious Education program (see <a href="/education">Religious Education</a>)</p>
													<p>Adults: enroll and attend classes in the parish RCIA process (Rite of Christian Initiation for Adults. English and Spanish classes are offered.)</p>
	                    </div>
	                </div>
	            </div>
	            <div class="panel blog-item">
	                <div class="panel-heading">
	                    <h4 class="panel-title">
	                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">SACRAMENT OF CONFIRMATION</a>
	                    </h4>
	                </div>
	                <div id="collapseThree" class="panel-collapse collapse">
	                    <div class="panel-body">
	                        <p>Children: enroll and attend classes in the parish Religious Education program (see <a href="/education">Religious Education</a>)</p>
													<p>Adults: Enroll and attend classes in the parish RCIA process (Rite of Christian Initiation for Adults.)</p>
	                    </div>
	                </div>
	            </div>
							<div class="panel blog-item">
									<div class="panel-heading">
											<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">SACRAMENT OF RECONCILIATION (Confession of Sins)</a>
											</h4>
									</div>
									<div id="collapseFour" class="panel-collapse collapse">
											<div class="panel-body">
													<p>On Saturdays at 3:30 PM, by appointment, and in communal celebration during Advent and Lent (see <a href="/weekly-bulletin">Weekly Bulletin</a>)</p>
													<p>First Reconciliation: enroll and attend classes in the parish Religious Education program (please see <a href="/education">Religious Education</a>)</p>
											</div>
									</div>
							</div>
							<div class="panel blog-item">
									<div class="panel-heading">
											<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">SACRAMENT OF MARRIAGE</a>
											</h4>
									</div>
									<div id="collapseFive" class="panel-collapse collapse">
											<div class="panel-body">
													<p>Couples should contact a parish priest at least one year before the desired date for the marriage to ensure proper preparation for the sacrament. Couples need to bring an updated certificate of Baptism, I Communion and Confirmation and if previously married, a declaration stating they are free to marry again. Couples are not to make FIRM plans for the reception PRIOR to speaking with a parish priest.</p>
											</div>
									</div>
							</div>
							<div class="panel blog-item">
									<div class="panel-heading">
											<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">SACRAMENT OF ANOINTING OF THE SICK</a>
											</h4>
									</div>
									<div id="collapseSix" class="panel-collapse collapse">
											<div class="panel-body">
													<p>Administered anytime upon request for a serious health situations and risks.</p>
													<p>Communion to the sick and homebound: a priest or Extraordinary Minister of Holy Communion from the parish will bring Holy Communion to those parishioners confined to their home.  Please notify the rectory when someone is ill or admitted to the hospital.</p>
											</div>
									</div>
							</div>
							<div class="panel blog-item">
									<div class="panel-heading">
											<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">SACRAMENT OF HOLY ORDERS/RELIGIOUS LIFE</a>
											</h4>
									</div>
									<div id="collapseSeven" class="panel-collapse collapse">
											<div class="panel-body">
													<p>Those interested in the priesthood or religious life are asked to contact one of the parish priests or contact the Vocations Office of the Archdiocese of Newark at 973-497-4365.</p>
											</div>
									</div>
							</div>
	        </div>
	    </div>
	</div>

	<!-- Sermons list section -->
	<section class="sermons-list-section spad3">
		<div class="container">
		</div>
	</section>
	<!-- Sermons list section end -->

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 copyright">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</div>
				<div class="col-sm-6">
					<div class="social">
						<a href="https://www.facebook.com/pages/Our-Lady-Of-Good-Counsel/106244959413918"><i class="ti-facebook"></i></a>
						<a href="https://goo.gl/maps/iGox2djxTRG2"><i class="ti-location-pin"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/jquery.countdown.js"></script>
	<script src="js/main.js"></script>

</body>
</html>
